body {
    margin: 0;
    font-family: 'PP Right Grotesk', 'Inter', 'Space Grotesk', 'Roboto', 'Work Sans', 'DM Sans', 'Manrope', 'Poppins', sans-serif;
    color: #ffffff;
    background: #040404;
    background: linear-gradient(135deg, #F43131, #FFA931, #8C31FF);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    background-color: #080808;
    border-radius: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    text-align: center;
    padding-bottom: 8px;
    padding-top: 20px;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-subtitle, .hero-date {
    font-size: 1.5rem;
    margin-top: 10px;
}

.section-title {
    color: #dfdfdf;
    font-size: 2rem;
    text-align: center;
    margin: 10px 0;
}

.schedule-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.schedule-item {
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 15px;
    background: #121212;
    border-radius: 20px;
}

.schedule-item .time {
    font-weight: bold;
    color: #ffffff;
    font-size: 1.2rem;
}

.topic {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.speaker {
    color: #b3b3b3;
}

.footer {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 32px;
    color: #b3b3b3;
}

.sponsors {
    text-align: center;
    padding: 8px 0;
    color: #ffffff;
}

.button {
    display: block;
    margin: 40px auto 0;
    width: 270px;
    height: 64px;
    background-color: #121212;
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 16px;
    text-align: center;
    line-height: 64px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'PP Right Grotesk', sans-serif;
}

.button:hover {
    background-color: #1a1a1a;
}

.footer-text {
    color: #ffffff;
    font-size: 24px;
}

.sponsor-link {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    transition: all ease 0.2s;
}
.sponsor-link:hover {
    transform: scale(1.1);
}
.for-button {
    margin-top: 16px;
    display: flex;
}
.main-link {
    width: 100%;
    background-color: #bbbbbb;
    padding: 20px;
    border-radius: 16px;
    align-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
    color: #717171;
}
